@import '../bd-common.scss';

.tooltip {
  z-index: 99;

  //------------------------------- SHARED ------------------------------------------------------------------------------------------------------

  &.tooltip__country,
  &.tooltip__province,
  &.tooltip__city {
    border: 0;
    width: 9rem;
    padding: 8px 8px;
    background-color: $white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);

    &:before {
      background-color: $white !important;
    }

    .tooltip__header {
      @include mixin-typography--bottom-margin();
      @include mixin-typography-caption2();
      color: $stone90;
    }

    .tooltip__content {
      @include mixin-typography--bottom-margin();
      @include mixin-typography-caption2();
      color: $stone90;
    }
  }

  //------------------------------- tooltip__country ------------------------------------------------------------------------------------------------------

  &.tooltip__country {
    background-color: $clay100;

    &:before {
      background-color: $clay100 !important;
    }

    .tooltip__header {
      @include mixin-typography-overline();
      color: $stone10;
    }

    .tooltip__header,
    .tooltip__content--cases,
    .tooltip__content--deaths {
      color: $stone10;
    }
  }

  &.proxpar-tooltip {
    background-color: #fff;
    color: $stone90;

    &:before {
      // display: none;
      background-color: #fff !important;
    }
    &.is-proximal {
      background-color: $lavender;
      color: #fff;
      &:before {
        background-color: $lavender !important;
      }
    }

    .tooltip__header {
      @include mixin-typography-overline();
      margin-bottom: 0;
    }
    .tooltip__content {
      font-size: 12px;
      line-height: 14px;
      white-space: nowrap;
      .tooltip__content--total {
        font-weight: bold;
      }
    }
  }

  //------------------------------- tooltip__province/tooltip__city ------------------------------------------------------------------------------------------------------

  &.tooltip__province,
  &.tooltip__city {
    .tooltip__header {
      color: $stone90;
    }

    .tooltip__content--cases {
      color: $stone40;
    }

    .tooltip__content--deaths {
      color: $starfish100;
    }
  }
}
