@import "../bd-common.scss";

$color-white: #fff;
$color-gray: #afb9bb;
$color-black: #2d3040;

.tooltip {
  z-index: 99;

  //------------------------------- SHARED ------------------------------------------------------------------------------------------------------

  &.tooltip__country,
  &.tooltip__province,
  &.tooltip__city {
    border: 0;
    width: 9rem;
    padding: 0.4rem 0.5rem 0.6rem;
    background-color: $color-white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);

    &:before {
      background-color: $color-white !important;
    }

    .tooltip__header {
      @include mixin-typography--bottom-margin();
      @include mixin-typography-overline();
      color: $stone90;
    }

    .tooltip__content {
      @include mixin-typography--bottom-margin();
      @include mixin-typography-caption2();
      color: $stone90;
    }
  }

  //------------------------------- tooltip__country ------------------------------------------------------------------------------------------------------

  &.tooltip__country {
    background-color: $clay100;
    &:before {
      background-color: $clay100 !important;
    }

    .tooltip__header,
    .tooltip__content--cases,
    .tooltip__content--deaths {
      color: $color-white;
    }

    .tooltip__header {
      text-transform: uppercase;
    }
  }

  //------------------------------- tooltip__province/tooltip__city ------------------------------------------------------------------------------------------------------

  &.tooltip__province,
  &.tooltip__city {
    .tooltip__header {
      color: $stone90;
    }

    .tooltip__content--cases {
      color: $stone40;
    }

    .tooltip__content--deaths {
      color: $starfish100;
    }
  }
}
