@import '~bootstrap/scss/bootstrap.scss';

#root {
  height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border-top: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #999;
}

header {
  font-weight: 600;
}

.react-autosuggest__suggestions-container--open {
  position: absolute;
  z-index: 5000;
  background: #fff;
  border: 1px solid gray;
}
