@import url('./fonts/insights-icons.css');

#map-div {
  position: fixed;
  width: 100%;
  height: 100%;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 51px;
  max-width: 100vw;
  z-index: 101;
}

#root {
  position: fixed;
  top: 51px;
  left: 0;
  bottom: 0;
  pointer-events: none; /* FIX: 052b632d */
}

#root.disclaimer-present {
  top: 106px;
}

body.map-hidden > #root {
  position: relative;
  min-height: calc(100vh - 51px);
  display: flex;
  flex-direction: column;
}
body.map-hidden > #root > #sidebar {
  flex-grow: 1;
}
body.map-hidden > #navbar {
  position: fixed;
  top: 0;
}
body.map-hidden > #map-div,
body.map-hidden > #map-legend {
  display: none;
}

@media (max-width: 414px) {
  #map-div,
  #map-legend,
  #gd-global-view-reset {
    display: none;
  }

  #navbar {
    height: 42.516px;
  }

  #root,
  #root.disclaimer-present {
    right: 0;
    top: 42.516px;
  }
}
