@import "../bd-common.scss";

.ui.popup.tooltip {
  &.tooltip__aoi {
    display: block;
    background: $stone100;
    border: 0;
    width: 9rem;
    padding: 0.4rem 0.5rem 0.6rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);

    &:before {
      background: $stone100;
    }

    .tooltip__aoi--locationName {
      @include mixin-typography--bottom-margin();
      @include mixin-typography-subtitle2();
      color: $stone10;
    }

    .tooltip__aoi--locationContext {
      @include mixin-typography--bottom-margin();
      @include mixin-typography-caption2();
      color: $stone10;
    }

    .tooltip__aoi--locationType {
      @include mixin-typography--bottom-margin();
      @include mixin-typography-caption();
      color: $stone10;
    }
  }
}