$color-white: #fff;

.ui.popup.tooltip {
  &.tooltip__aoi {
    display: block;
    background: #222222;
    border: 0;
    width: 9rem;
    padding: 0.4rem 0.5rem 0.6rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);

    &:before {
      background: #222222;
    }

    .tooltip__aoi--locationName {
      color: $color-white;
      font-size: 0.75rem;
      line-height: 0.9375rem;
      letter-spacing: 0.005em;
      font-weight: 600;
    }
    
    .tooltip__aoi--locationContext {
      color: $color-white;
      font-size: 0.625rem;
      line-height: 0.75rem;
      letter-spacing: 0.005em;
      text-transform: uppercase;
    }

    .tooltip__aoi--locationType {
      color: $color-white;
      font-size: 0.6875rem;
      line-height: 0.9rem;
      letter-spacing: 0.005em;
    }
  }
}