$white: #ffffff;
$sand: #f6f3ec;
$bluedot-navy: #0d1d2c;
$bluedot-logo-navy: #334457;
$slate-blue: #4e5e77;
$true-blue: #3379e2;
$teal: #7c9092;
$grey: #6e6e6e;
$light-grey: #c4c4c4;
$off-white: #fafafa;
$medium-blue: #2961a9;
$red: #e34f4f;
$yellow: #e2b926;
$sky-blue: #49b9dc;
$gold: #AE9F7E;

$high-priority: $red;
$medium-priority: $yellow;
$low-priority: $sky-blue;

$background-color: $off-white;
