@using System.Configuration;

@{
    var unsubscribeLink = @ConfigurationManager.AppSettings.Get("HostUrl") + "/UserProfile/UserNotification";
}
<p style="margin: 0; font-size: 11px; color: #7D7D7D; line-height: 15px;">
    BlueDot protects people around the world from infectious diseases with human and artificial intelligence.
    <br />
    <a style="color: #AE9F7E;" href="@unsubscribeLink" target="_blank">Update notification settings</a>
</p>


