.footer-content {
    padding: 20px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    border-top: 0.918984px solid #E2E2E2;
}

#footer-link{
 text-align:right;
}

.footer-link-btn {
    margin-left: 25px;
}

