//$font-location: '../Content/fonts';
//@import "scss/global";
$sourcesanspro: 'Source Sans Pro', sans-serif;

@mixin media-breakpoint-down($width) {
  @media (max-width: 414px) {
    @content;
  }
}

@function calculate-rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculate-rem($size);
}

@import '_map';
@import '_esrimap';
