@import './bd-common.scss';

$opacity-dim: 0.25;
$opacity-full: 1;

.ui.popup:before {
  box-shadow: none;
}


#eventsCountryPinsLayer_layer {
  & > image[dim='true'] {
    opacity: $opacity-dim;
  }

  & > image[dim='false'] {
    opacity: $opacity-full;
  }

  & > image:hover {
    opacity: $opacity-full;
    z-index: 100;
  }
}

// Esri Attribution
#map-div .esriControlsBR {
  right: auto;

  & > * {
    position: absolute;
    left: 5px;
    bottom: 0px;
  }

  & .esriAttribution {
    left: 75px;
  }
}

.tooltip {
  //------------------------------- SHARED ------------------------------------------------------------------------------------------------------

  &.tooltip__country,
  &.tooltip__province,
  &.tooltip__city {

    .tooltip__header {
      @include mixin-typography--bottom-margin();
      @include mixin-typography-caption2();
      color: $stone90;
    }

    .tooltip__content {
      @include mixin-typography--bottom-margin();
      @include mixin-typography-caption2();
      color: $stone90;
    }
  }

  //------------------------------- tooltip__country ------------------------------------------------------------------------------------------------------

  &.tooltip__country {
    background-color: $clay100;

    &:before {
      background-color: $clay100 !important;
    }

    .tooltip__header {
      @include mixin-typography-overline();
      color: $stone10;
    }

    .tooltip__header,
    .tooltip__content--cases,
    .tooltip__content--deaths {
      color: $stone10;
    }
  }

  //------------------------------- tooltip__province/tooltip__city ------------------------------------------------------------------------------------------------------

  &.tooltip__province,
  &.tooltip__city {
    &.bs-tooltip-top .arrow:before {
      border-top-color: $white;
    }

    .tooltip__header {
      color: $stone90;
    }

    .tooltip__content--cases {
      color: $stone40;
    }

    .tooltip__content--deaths {
      color: $starfish100;
    }
  }
}
