<div id="marketing" class="col-md-8 d-flex flex-column">

    <div id="marketing-link-container" class="text-center d-block d-md-none">
        @*<div id="link-btn-container">
            <span id="register-or-login-btn" class="btn-bd-link">Sign in</span>
        </div>*@
        <div class="d-inline-block">@Html.Partial("_Logo")</div>
    </div>

    <div class="marketing-text">
        <div class="marketing-headline">
            Near real-time infectious disease alerts based on your location.
        </div>
    </div>

    <div id="marketing-image-container" class="text-center">
        <img class="marketing-image" src="~/Content/images/Insights_LaptopMobile_Mock.png" />
    </div>
</div>
