<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>

  <appSettings>
    <!--log and email setting-->
    <add key="isLogToFile" value="true" />
    <add key="logFolder" value="C:\temp\WeeklyOperationConsole" />

    <!-- Flag to control whether to call the Weekly Brief Email API -->
    <add key="IsSendWeeklyBriefEnabled" value="false" />
    <!-- Flag to control whether to call the Update Weekly Data API -->
    <add key="IsUpdateWeeklyDataEnabled" value="true" />

    <!--Zebra API-->
    <add key="ZebraApi" value="http://localhost/Biod.Zebra.Api/" />
    <add key="ZebraBasicAuthUsernameAndPassword" value="" />
  </appSettings>
</configuration>