/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.content-spacing {
  padding-top: 99px;
  padding-bottom: 30px; }

.message-margin {
  margin-top: 20px; }

.hero-message {
  margin-top: 55px;
  margin-bottom: 30px; }
  @media (max-width: 767.98px) {
    .hero-message {
      margin-top: 50px; } }

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px; }
  .split.left {
    padding: 32px;
    background-color: #ffffff;
    width: 100%; }
  .split.right {
    width: 0; }

@media (min-width: 1200px) {
  .split.left {
    width: 50%;
    left: 0;
    padding: 64px; }
  .split.right {
    width: 50%;
    right: 0;
    background-color: #0d1d2c; } }

/*@include font-face('Inter UI', $font-location + '/Inter-UI-Regular', 400, normal);
@include font-face('Inter UI', $font-location + '/Inter-UI-Italic', 400, italic);
@include font-face('Inter UI', $font-location + '/Inter-UI-Medium', 500, medium);
@include font-face('Inter UI', $font-location + '/Inter-UI-MediumItalic', 500, medium, italic);
@include font-face('Inter UI', $font-location + '/Inter-UI-Bold', 700, bold);
@include font-face('Inter UI', $font-location + '/Inter-UI-BoldItalic', 700, bold, italic);
@include font-face('Inter UI', $font-location + '/Inter-UI-Black', 900, bolder);
@include font-face('Inter UI', $font-location + '/Inter-UI-BlackItalic', 900, bolder, italic);*/
@font-face {
  font-family: "Source Sans Pro";
  font-style: lighter;
  font-weight: 200;
  src: url("fonts/SourceSansPro-ExtraLight.eot") format("eot"), url("fonts/SourceSansPro-ExtraLight.ttf") format("truetype"), url('../Content/fonts/SourceSansPro-ExtraLight.svg#str-replace("Source Sans Pro", " ", "_")') format("svg"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: lighter;
  font-weight: 200;
  src: url("fonts/SourceSansPro-ExtraLightItalic.italic") format("italic"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: lighter;
  font-weight: 300;
  src: url("fonts/SourceSansPro-Light.eot") format("eot"), url("fonts/SourceSansPro-Light.ttf") format("truetype"), url('../Content/fonts/SourceSansPro-Light.svg#str-replace("Source Sans Pro", " ", "_")') format("svg"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: lighter;
  font-weight: 300;
  src: url("fonts/SourceSansPro-LightItalic.italic") format("italic"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/SourceSansPro-Regular.eot") format("eot"), url("fonts/SourceSansPro-Regular.ttf") format("truetype"), url('../Content/fonts/SourceSansPro-Regular.svg#str-replace("Source Sans Pro", " ", "_")') format("svg"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/SourceSansPro-Italic.italic") format("italic"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: bold;
  font-weight: 600;
  src: url("fonts/SourceSansPro-SemiBold.eot") format("eot"), url("fonts/SourceSansPro-SemiBold.ttf") format("truetype"), url('../Content/fonts/SourceSansPro-SemiBold.svg#str-replace("Source Sans Pro", " ", "_")') format("svg"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: bold;
  font-weight: 600;
  src: url("fonts/SourceSansPro-SemiBoldItalic.italic") format("italic"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: bolder;
  font-weight: 700;
  src: url("fonts/SourceSansPro-Bold.eot") format("eot"), url("fonts/SourceSansPro-Bold.ttf") format("truetype"), url('../Content/fonts/SourceSansPro-Bold.svg#str-replace("Source Sans Pro", " ", "_")') format("svg"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: bolder;
  font-weight: 700;
  src: url("fonts/SourceSansPro-BoldItalic.italic") format("italic"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: bolder;
  font-weight: 900;
  src: url("fonts/SourceSansPro-Black.eot") format("eot"), url("fonts/SourceSansPro-Black.ttf") format("truetype"), url('../Content/fonts/SourceSansPro-Black.svg#str-replace("Source Sans Pro", " ", "_")') format("svg"); }

@font-face {
  font-family: "Source Sans Pro";
  font-style: bolder;
  font-weight: 900;
  src: url("fonts/SourceSansPro-BlackItalic.italic") format("italic"); }

@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/DroidSerif.eot") format("eot"), url("fonts/DroidSerif.ttf") format("truetype"), url('../Content/fonts/DroidSerif.svg#str-replace("Droid Serif", " ", "_")') format("svg"); }

@font-face {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/DroidSerif-Italic.eot") format("eot"), url("fonts/DroidSerif-Italic.ttf") format("truetype"), url('../Content/fonts/DroidSerif-Italic.svg#str-replace("Droid Serif", " ", "_")') format("svg"); }

@font-face {
  font-family: "Droid Serif";
  font-style: bold;
  font-weight: 700;
  src: url("fonts/DroidSerif-Bold.eot") format("eot"), url("fonts/DroidSerif-Bold.ttf") format("truetype"), url('../Content/fonts/DroidSerif-Bold.svg#str-replace("Droid Serif", " ", "_")') format("svg"); }

@font-face {
  font-family: "Droid Serif";
  font-style: bold;
  font-weight: 700;
  src: url("fonts/DroidSerif-BoldItalic.italic") format("italic"); }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?hk8v7z");
  src: url("fonts/icomoon.eot?hk8v7z#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?hk8v7z") format("truetype"), url("fonts/icomoon.woff?hk8v7z") format("woff"), url("fonts/icomoon.svg?hk8v7z") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  -webkit-font-smoothing: antialiased;
  color: #0d1d2c; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1 {
  color: #0d1d2c;
  line-height: 26px; }

h2 {
  line-height: 32px; }
  @media (max-width: 767.98px) {
    h2 {
      font-size: 24px; } }

h3 {
  line-height: 24px;
  opacity: 0.7;
  color: #6e6e6e; }
  @media (max-width: 767.98px) {
    h3 {
      font-style: italic;
      font-size: 16px; } }

h4 {
  letter-spacing: 0.2px; }
  @media (max-width: 767.98px) {
    h4 {
      font-size: 24px; } }

h5 {
  letter-spacing: 0.4px; }

.fs-loud, h1, h2, h3 {
  font-family: "Droid Serif", serif; }

.fs-quiet, html, body, h4, h5, .btn-bd-text, .btn-bd-text-grey {
  font-family: "Source Sans Pro", sans-serif; }

.fs-w0 {
  font-weight: 300; }

.fs-w1, body {
  font-weight: 400; }

.fs-w2, .btn-bd-text:hover, .btn-bd-text-grey {
  font-weight: 600; }

.fs-w3, .btn-bd-text {
  font-weight: 700; }

.fs-w4, h2, h4, h5 {
  font-weight: 900; }

.fs-em {
  font-style: italic; }

.fs-uppercase {
  text-transform: uppercase; }

.fs-underline {
  text-decoration: underline; }

.fs-s1 {
  font-size: 10px;
  font-size: 0.625rem; }

.fs-s2, .btn-bd-text-grey {
  font-size: 12px;
  font-size: 0.75rem; }

.fs-s3, .btn-bd-link, .btn-bd-text {
  font-size: 14px;
  font-size: 0.875rem; }

.fs-s4, body {
  line-height: 22px;
  font-size: 16px;
  font-size: 1rem; }

.fs-s5, h3 {
  font-size: 18px;
  font-size: 1.125rem; }

.fs-s6, h1, h5 {
  font-size: 20px;
  font-size: 1.25rem; }

.fs-s7 {
  font-size: 24px;
  font-size: 1.5rem; }

.fs-s8, h2, h4 {
  font-size: 26px;
  font-size: 1.625rem; }

.icon-question:before {
  content: "\e914"; }

.icon-downtown:before {
  content: "\e900"; }

.icon-events:before {
  content: "\e901"; }

.icon-bike:before {
  content: "\e902"; }

.icon-additional:before {
  content: "\e903"; }

.icon-fruits:before {
  content: "\e904"; }

.icon-gymmemberships:before {
  content: "\e905"; }

.icon-vectors:before {
  content: "\e906"; }

.icon-filteringtool:before {
  content: "\e907"; }

.icon-intersecttool:before {
  content: "\e908"; }

.icon-clusteringtool:before {
  content: "\e909"; }

.icon-dataportal:before {
  content: "\e90a"; }

.icon-travelmodule:before {
  content: "\e90b"; }

.icon-surveillance:before {
  content: "\e90c"; }

.icon-happiness:before {
  content: "\e90d"; }

.icon-healthcoverage:before {
  content: "\e90e"; }

.icon-demographymodule:before {
  content: "\e90f"; }

.icon-diversity:before {
  content: "\e910"; }

.icon-donoharm:before {
  content: "\e911"; }

.icon-globe:before {
  content: "\e912"; }

.icon-thinkwithoutborders:before {
  content: "\e913"; }

.custom-control-label {
  font-size: 14px; }

.btn {
  font-size: 14px; }

.form-control {
  padding: .375rem 1rem; }

.form-control:focus {
  outline: none;
  border: 1px solid #3379e2;
  transition: 1s;
  box-shadow: none;
  animation: none; }

.tooltip {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 17px;
  font-size: 13px;
  font-size: 0.8125rem; }
  .tooltip .tooltip-inner {
    background-color: #000000;
    padding: 1.2em;
    opacity: 1;
    text-align: left; }
  .tooltip.show {
    opacity: 1; }

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #000000; }

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before,
.tooltip.bs-tooltip-right .arrow::before {
  border-right-color: #000000; }

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #000000; }

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before,
.tooltip.bs-tooltip-left .arrow::before {
  border-left-color: #000000; }

.text-success {
  color: #3379e2 !important; }

button:focus {
  outline: none; }

.btn-bd-primary {
  background-color: #0d1d2c;
  color: #ffffff;
  transition: all 0.5s; }
  .btn-bd-primary:hover {
    background-color: #4e5e77; }
  .btn-bd-primary:active {
    background-color: #3379e2; }

.btn-bd-dark {
  background-color: #0d1d2c;
  color: #ffffff;
  transition: all 0.5s; }
  .btn-bd-dark:hover {
    background-color: #364E78;
    color: #ffffff; }
  .btn-bd-dark:active {
    background-color: #3379e2;
    color: #ffffff; }

.btn-bd-link {
  color: #334457;
  background-color: transparent;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: 2px solid transparent;
  font-family: "Source Sans Pro", sans-serif;
  border-bottom: 1px solid #0d1d2c; }
  .btn-bd-link:hover {
    transition: all 0.3s;
    color: #3379e2;
    border-radius: 0 !important;
    border-bottom: 1px solid #3379e2; }
  .btn-bd-link:active {
    color: #3379e2;
    border-bottom: 1px solid #3379e2; }

.btn-bd-text {
  color: #0d1d2c;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: transparent; }
  .btn-bd-text:hover {
    transition: all 0.3s;
    color: #3379e2; }

.btn-bd-text-grey {
  letter-spacing: 0.32px;
  color: #a9a9a9; }
  .btn-bd-text-grey:hover {
    transition: all 0.3s;
    color: #4e5e77;
    text-decoration: none; }

.submit-button {
  margin: 25px 0 0 0; }

.profile-submit-button {
  margin: 25px 0 0 0; }

input {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #0d1d2c;
  box-shadow: none;
  border-style: solid;
  border-width: 1px;
  border-color: #d2d2d2;
  border-radius: 4px; }

select.form-control:not([size]):not([multiple]) {
  height: 50px; }

body {
  background-color: #fafafa; }

.bg-grey {
  background-color: #a3a3a3; }

.bg-white {
  background-color: #ffffff !important; }

.txt-grey {
  color: #6e6e6e; }

.txt-darkgrey {
  color: #828282; }

.txt-mediumgrey {
  color: #aaaaaa; }

.txt-red {
  color: #e34f4f; }

.txt-purple {
  color: #49b9dc; }

.txt-black {
  color: #000; }

.txt-gold {
  color: #AE9F7E; }

.priority {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 10px;
  width: 96px;
  height: 22px;
  border: 1px solid #6e6e6e; }
  @media (max-width: 767.98px) {
    .priority {
      margin-top: 0;
      display: inline-block; } }
  .priority.high {
    color: #e34f4f;
    border-color: #e34f4f;
    padding-left: 3px; }
  .priority.medium {
    color: #e2b926;
    border-color: #e2b926;
    padding-left: 4px; }
  .priority.low {
    color: #49b9dc;
    border-color: #49b9dc;
    padding-left: 4px; }

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 29px; }
  .switch input {
    display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bebebe;
  border: 2px solid #bebebe;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px; }
  .slider.disabled {
    background-color: transparent; }
    .slider.disabled:before {
      border-color: #bebebe; }
  .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 1.25px;
    bottom: 1.25px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; }

input[type="checkbox"]:checked + input[type="hidden"] + .slider,
input[type="checkbox"]:checked + .slider {
  background-color: #0d1d2c;
  border-color: #0d1d2c; }

input[type="checkbox"]:focus + input[type="hidden"] + .slider,
input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 1px #0d1d2c; }

input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
input[type="checkbox"]:checked + .slider:before {
  border-color: #ffffff;
  left: 0;
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px); }

#navbar {
  background-color: #ffffff !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; }
  #navbar .navbar-toggler {
    border-width: 0; }
  #navbar .nav-link {
    color: #c4c4c4;
    padding: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    transition: ease 0.3s;
    font-size: 12px;
    font-size: 0.75rem; }
    #navbar .nav-link:hover {
      color: #2961a9; }
  #navbar .nav-item {
    margin: 0 0.5rem; }
    @media (max-width: 767.98px) {
      #navbar .nav-item {
        padding-top: 10px;
        padding-bottom: 5px; } }
  #navbar .nav-item.active .nav-link {
    color: rgba(60, 60, 60, 0.93); }

#zebra-header {
  font-family: 'Inter UI', sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.9px;
  color: #0d1d2c;
  display: inline-block;
  transition: color 0.5s;
  line-height: 16px; }

#version-pill {
  display: inline-block;
  margin-top: -3px;
  margin-left: 4px;
  background-color: #0d1d2c;
  color: #ffffff;
  border-radius: 2px;
  font-size: 9.5px;
  font-weight: 700;
  line-height: 16px;
  vertical-align: middle;
  padding: 1px 4px 0px 4px;
  text-transform: uppercase;
  letter-spacing: 0.05rem; }

.bd-table-logo {
  font-size: 16px;
  line-height: 16px; }
  .bd-table-logo tr td {
    padding: 2px 10px; }
    .bd-table-logo tr td:first-child {
      border-right: 2px solid #6e6e6e;
      padding-left: 0px; }
    .bd-table-logo tr td:last-child {
      padding-right: 0px; }

.bd-logo svg {
  width: 62.67px;
  height: 14px; }
  .bd-logo svg path {
    fill: #6e6e6e; }

.tab-nav .nav-item .nav-link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  display: block;
  color: #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
  transition: all 0.3s;
  text-align: center; }
  .tab-nav .nav-item .nav-link.active {
    color: #0d1d2c;
    font-weight: 600;
    border-bottom: 2px solid #0d1d2c; }

.tab-nav .nav-item.active .nav-link {
  color: #0d1d2c;
  font-weight: 600;
  border-bottom: 2px solid #0d1d2c; }

@media (max-width: 767.98px) {
  .tab-nav.two {
    padding: 0 20px; }
    .tab-nav.two .nav-item {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; } }

.tab-nav.three {
  align-items: flex-end; }
  .tab-nav.three .nav-item {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

.tab-content {
  margin-top: 26px; }

#map-div {
  width: 100%;
  height: 100%; }
  @media (max-width: 767.98px) {
    #map-div {
      visibility: hidden; } }

.esriPopup {
  font-family: "Source Sans Pro", sans-serif; }
  .esriPopup svg {
    display: inline-block;
    vertical-align: middle; }
  .esriPopup .pointer.bottom {
    bottom: -4px !important;
    border: 1px solid #2961A9; }
  .esriPopup.light div.esriPopupWrapper {
    border: 1px solid #2961A9;
    border-radius: 2px; }
  .esriPopup.light .contentPane {
    padding: 0; }
  .esriPopup.light div.titlePane {
    height: 35px;
    color: #2961A9;
    background-color: #E7EEF6;
    border-radius: 2px 2px 0 0; }
    .esriPopup.light div.titlePane .title {
      font-weight: 700;
      font-size: 14px;
      font-size: 0.875rem; }
    .esriPopup.light div.titlePane .titleButton {
      color: #2961A9;
      transition: ease 0.3s; }
      .esriPopup.light div.titlePane .titleButton.maximize {
        visibility: hidden; }
      .esriPopup.light div.titlePane .titleButton:hover {
        color: #0D1D2C; }
  .esriPopup.light div.actionsPane {
    padding: 0 0 1px 0;
    border-radius: 0 0 2px 2px; }

/*.esriPopupWrapper {
  opacity: 0.35;
  transition: opacity ease 0.3s;

  &:hover {
    opacity: 1;
  }
}*/
.popup-outlook {
  color: #2961A9;
  vertical-align: middle;
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  font-size: 0.75rem; }
  .popup-outlook svg {
    fill: #2961A9;
    margin-top: -2px;
    margin-right: 0.5em; }

.popup-date {
  color: #aaaaaa;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-size: 12px;
  font-size: 0.75rem; }
  .popup-date svg {
    margin-top: -3px;
    margin-right: 0.5em; }

.popup-event-title {
  color: #3c3c3c;
  font-weight: 600;
  margin-top: -3px;
  line-height: 18px;
  font-size: 14px;
  font-size: 0.875rem; }

#sp-eventtitle {
  color: #3c3c3c;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 6px;
  font-size: 15px;
  font-size: 0.9375rem; }

#sp-summary {
  line-height: 1rem;
  font-size: 12px;
  font-size: 0.75rem; }

.popup-btn-container {
  margin-top: 0.75em; }

#_internal_LabelLayer_layer {
  pointer-events: none; }

#countryPointLayer_layer {
  cursor: pointer; }

#map-div_zoom_slider {
  top: 60px;
  right: 20px;
  left: unset;
  left: auto; }

.popup-row-style,
#popup-detail-container {
  padding: 0.75em; }

.popup-row-style {
  cursor: pointer; }
  .popup-row-style:not(:last-child) {
    border-bottom: 1px solid #E1E1E1; }

#popup-back-btn,
#popup-open-details-btn {
  border-radius: 50px;
  border: 0;
  transition: ease 0.3s;
  font-weight: 600;
  font-size: 12px;
  font-size: 0.75rem; }
  #popup-back-btn:active, #popup-back-btn:focus,
  #popup-open-details-btn:active,
  #popup-open-details-btn:focus {
    box-shadow: none; }

#popup-back-btn {
  width: 30%;
  margin-right: 0.5em;
  background-color: rgba(41, 97, 169, 0.11);
  color: #2961A9; }
  #popup-back-btn:hover {
    background-color: rgba(13, 29, 44, 0.5);
    color: #ffffff; }
  #popup-back-btn:active, #popup-back-btn:focus {
    background-color: rgba(54, 78, 120, 0.5);
    color: #ffffff;
    box-shadow: none; }

#popup-open-details-btn {
  width: calc(100% - 30% - 0.5em);
  background-color: #2961A9;
  color: #ffffff; }
  #popup-open-details-btn:hover {
    background-color: #364E78; }
  #popup-open-details-btn:active, #popup-open-details-btn:focus {
    background-color: #0D1D2C; }

.esriMapLayers image {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25); }

.esriSimpleSlider {
  border: 0;
  border-radius: 2px;
  box-shadow: 3px 3px 10px #bdbdbd; }

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  border-bottom: 1.5px solid #d6d6d6; }

.esriSimpleSlider div {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 28px;
  font-weight: 700; }
