<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url.GeorgeApi" value="http://localhost/Biod.George.Api"/>
    <add key="url.ZebraApi" value="http://localhost/Biod.Zebra.Api"/>
    <add key="httpClient.TimeoutSeconds" value="180"/>
  </appSettings>
</configuration>