<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ClientHealthmapEntities" connectionString="" providerName="System.Data.EntityClient" />
    <add name="BiodSurveillanceDataEntities" connectionString="" providerName="System.Data.EntityClient" />
    <add name="HealthmapEntities" connectionString="" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--cleanup in days to archive the articles-->
    <add key="cleanupDays" value="-90" />
    <add key="serviceBaseAddress" value="http://localhost/BdDataApi/" />
    <!--log and email setting-->
    <add key="logFileLocation" value="C:\BlueDot\temp\" />
    <add key="emailRecipientListUponError" value="" />
    <add key="emailSubjectUponError" value="Error occurred in SurveillanceToBiodWebDatabaseSync application Gp1&gt; Db1dev&gt; (Surveillance to BiodWeb)." />
    <add key="SmtpHostName" value="smtp.sendgrid.net"/>
    <add key="SmtpPort" value="587"/>
    <add key="SmtpFrom" value="noreply@bluedot.global"/>
    <add key="SmtpFromName" value="BlueDot Insights" />
    <add key="SmtpUserName" value=""/>
    <add key="SmtpPassword" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>