$color-red: #ae5451;
$color-white: #fff;
$color-gray: #afb9bb;
$color-black: #2d3040;

.tooltip {
  z-index: 99;

  &.tooltip__country,
  &.tooltip__province,
  &.tooltip__city {
    .tooltip-inner {
      width: 9rem;
      padding: 0.4rem 0.5rem 0.6rem;
      background-color: $color-white;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    }

    .tooltip__header {
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 0.9rem;
      letter-spacing: 0.005em;
      margin-bottom: 5px;
    }

    .tooltip__content {
      font-size: 0.625rem;
      line-height: 0.8rem;
      color: $color-white;
    }
  }

  &.tooltip__country {
    &.bs-tooltip-top .arrow:before {
      border-top-color: $color-red;
    }

    .tooltip-inner {
      background-color: $color-red;
    }

    .tooltip__header,
    .tooltip__content--cases,
    .tooltip__content--deaths {
      color: $color-white;
    }

    .tooltip__header {
      text-transform: uppercase;
    }
  }

  &.tooltip__province,
  &.tooltip__city {
    &.bs-tooltip-top .arrow:before {
      border-top-color: $color-white;
    }

    .tooltip__header {
      color: $color-black;
    }

    .tooltip__content--cases {
      color: $color-gray;
    }

    .tooltip__content--deaths {
      color: $color-red;
    }
  }
}
