@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    209 Victoria St.<br />
    Toronto, ON M1M 1M1<br />
    <abbr title="Phone">P:</abbr>
    555.555.0209
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@bluedot.global">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@bluedot.global">Marketing@example.com</a>
</address>