<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="DefaultConnection" connectionString="" providerName="System.Data.SqlClient" />
    <add name="BiodZebraEntities" connectionString="" providerName="System.Data.EntityClient" />
    <add name="DiseasesAPIEntities" connectionString="" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--retrieve data by days: 0 means today, -90 means today-90 days-->
    <add key="retrieveDataByDays" value="0" />
    
    <!--log and email setting-->
    <add key="isLogToFile" value="true" />
    <add key="logFile" value="C:\temp\Biod.Zebra.Api_Log_" />
    <add key="LogFolder" value="C:\temp\Biod.Zebra" />
    <add key="LogFileName" value="ZebraApi.log" />

    <!--Log request information-->
    <add key="IsLogRequestInfoEnabled" value="true" />
    
    <!--if IsMessagingUnderTesting is true, send the emails to the EmailTestingRecipientList without sending them to the real clients-->
    <add key="IsMessagingUnderTesting" value="false" />
    <add key="EmailTestingRecipientList" value="" />

    <!--AOI locations limit-->
    <add key="AoiLocationsLimit" value="50" />

    <!--Was Email Sent Time Check In Minutes-->
    <add key="WasEmailSentTimeCheckInMinutes" value="3.0" />

    <!--this link will be added to open the event in the client alert email-->
    <add key="HostUrl" value="http://localhost/Biod.Zebra" />
    <!--timeout in seconds-->
    <add key="commandTimeout" value="1200" />
    <add key="SwaggerApiVersion" value="v1" />
    <add key="SwaggerApiBaseUrl" value="BdDateApi/swagger" />
    <add key="ZebraVersion" value="V12.1.1" />
    <add key="ZebraTitleAndVersion" value="Insights by BlueDot Dev" />

    <!--Private Users Roles-->
    <add key="AdminUsersRole" value="" />
    <add key="UnsubscribedUsersRole" value="" />
    <add key="PaidUsersRole" value="" />
    <add key="EditorUsersRole" value="" />

    <!--Zebra APIs-->
    <add key="ZebraApiBaseUrl" value="http://localhost/Biod.Zebra.Api" />
    <add key="ZebraApiUserName" value="" />
    <add key="ZebraApiPassword" value="" />
    
    <!--George APIs to get the risk value e.g. /location/risks?latitude=10&longitude=10-->
    <add key="GeorgeApiBaseUrl" value="" />
    <add key="GeorgeApiUserName" value="" />
    <add key="GeorgeApiPassword" value="" />
    <!--HCW get_next_query functions is to get the next symtoms, diseases and scores-->
    <add key="HcwFunctionBaseUrl" value="" />
    <add key="HcwFunctionCodeToken" value="" />
    
    <!-- Enable or disable Google and Litmus Analytics -->
    <add key="IsGoogleAnalyticsEnabled" value="true" />
    <add key="IsLitmusAnalyticsEnabled" value="true" />
    <add key="IsHeapAnalyticsEnabled" value="true" />
    <add key="IsHotjarAnalyticsEnabled" value="true" />
    
    <!-- Litmus Tracking ID - Dev -->
    <add key="LitmusTrackingId" value="aiqogb8w" />

    <!-- Google Analytics Tracking ID - Dev -->
    <add key="GaTrackingId" value="UA-57199677-9" />

    <!-- Heap Tracking ID - Dev -->
    <add key="HeapTrackingId" value="3688113639" />

    <!-- Hotjar Tracking ID - Dev -->
    <add key="HotjarTrackingId" value="1290582" />

    <!-- JWT for Token-based Authentication -->
    <add key="JwtSecretKey" value="" />
    <add key="JwtTokenExpireMinutes" value="1440" />
    
    <!--appox. 100km-->
    <add key="EventDistanceBuffer" value="100000" />
    
    <add key="Debug" value="true" />
    <add key="ApiTimeout" value="600000" />
    <!--if BasicAuth = true then the authentication is controlled by IIS-->
    <add key="BasicAuth" value="true" />
    
    <!--email from settings-->
    <add key="SmtpHostName" value="smtp.sendgrid.net" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpFrom" value="noreply@bluedot.global" />
    <add key="SmtpUserName" value="" />
    <add key="SmtpPassword" value="" />
    
    <!--R services on AzureML-->
    <!--Replace this with the API key for the web service-->
    <add key="AzureMLSubscriptionId" value="" />
    <add key="ZebraMinMaxCasesApiKey" value="" />
    <add key="ZebraMinMaxCasesWorkspaceId" value="" />
    <add key="ZebraMinMaxCasesServiceId" value="" />
    <add key="ZebraMinMaxPrevalenceApiKey" value="" />
    <add key="ZebraMinMaxPrevalenceWorkspaceId" value="" />
    <add key="ZebraMinMaxPrevalenceServiceId" value="" />

    <!--Firebase Cloud Messaging (FCM) Settings-->
    <add key="FcmBaseUrl" value=""/>
    <add key="FcmServerKey" value=""/>
    <add key="FcmSenderKey" value=""/>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.6" />
    <pages>
      <namespaces>
        <add namespace="Westwind.Utilities" />
        <add namespace="Westwind.Web" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
      <add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="https://insights-dev.bluedot.global, https://insights-staging.bluedot.global, https://insights-uat.bluedot.global, https://insights.bluedot.global"/>
        <add name="Access-Control-Allow-Headers" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS,HEAD"/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\temp\Biod.Zebra\ZebraApi.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss}-%P{log4net:HostName}&#x9;%P{userName}&#x9;%identity&#x9;%-5level&#x9;Thread:[%thread]&#x9;%-60m&#x9;%location&#x9;%P{hostAddr} &#x9;%P{browser}&#x9;%P{code} %n" />
      </layout>
    </appender>
    <appender name="DatabaseLogAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionStringName value="DefaultConnection" />
      <commandText value="if(isNull(@identity,'')='') set @identity = @userName; INSERT INTO ActivityLog ([Date],[Thread],[Level],[Logger],[Message],[Exception],[UserName],[HostAddress],[Browser],[ServerName],[Url],[ApplicationName])   VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @identity, @hostAddr, @browser,@serverName, @url, @applicationName)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="20000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="20000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@identity" />
        <dbType value="String" />
        <size value="128" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%identity" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@userName" />
        <dbType value="String" />
        <size value="128" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%P{userName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@hostAddr" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%P{hostAddr}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@browser" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%P{browser}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@serverName" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%P{log4net:HostName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@url" />
        <dbType value="String" />
        <size value="2048" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%P{url}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@applicationName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="ZebraApi" />
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="DatabaseLogAppender" />
    </root>
  </log4net>
</configuration>