.sidebar {
  z-index: 40;
  position: absolute;
  top: 49px;
  height: calc(100% - 49px);
  display: flex;
}

.toggleButton {
  align-self: start;
  z-index: 41;
  height: 32px;
  width: 32px;
  background-color: #364e78;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  transition: background-color ease 0.3s, left ease 0.5s;
  padding: 0;
  margin-top: 1rem;

  &:hover {
    background-color: #0d1d2c;
  }

  &:focus {
    background-color: #364e78;
    box-shadow: none;
  }
}

.panelContainer {
  background-color: #fbfbfb;
  display: flex;
  flex: auto;
}

.collapse {
  display: none;
}
