.ui.popup.tooltip.tooltip__airport {
      background: #222222;
      width: 9rem;
      padding: 0.4rem 0.5rem 0.6rem;

      &:before {
        background-color: #222222;
      }

    .tooltip__airport--name {
      color: #fff;
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 0.9rem;
      letter-spacing: 0.005em;
      margin-bottom: 5px;
    }

    .tooltip__airport--city {
      text-transform: uppercase;
      color: #fff;
      font-size: 0.625rem;
      line-height: 0.8rem;
    }
}