@import '../bd-common.scss';

.ui.popup.tooltip.tooltip__airport {
  background: $stone100;
  width: 9rem;
  padding: 0.4rem 0.5rem 0.6rem;

  &:before {
    background: $stone100;
  }

  .tooltip__airport--name {
    @include mixin-typography--bottom-margin();
    @include mixin-typography-caption2();
    color: $stone10;
  }

  .tooltip__airport--city {
    @include mixin-typography--bottom-margin();
    @include mixin-typography-caption();
    color: $stone10;
  }
}
