<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="BiodProductSourceModelEntities" connectionString="" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="" providerName="System.Data.SqlClient" />
    <add name="BiodZebraEntities" connectionString="" providerName="System.Data.EntityClient" />
    <add name="DiseasesAPIEntities" connectionString="" providerName="System.Data.EntityClient" />
    <add name="DefaultSurveillanceConnection" connectionString="" providerName="System.Data.SqlClient" />
    <add name="BiodSurveillanceDataEntities" connectionString="" providerName="System.Data.EntityClient" />
    <add name="ClientHealthmapEntities" connectionString="" providerName="System.Data.EntityClient" />
    <add name="HealthmapEntities" connectionString="" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--retrieve data by days: 0 means today, -90 means today-90 days-->
    <add key="retrieveDataByDays" value="0" />
    
    <!--log and email setting-->
    <add key="isLogToFile" value="true" />
    <add key="logFile" value="C:\temp\Biod.Zebra.Api_Log_" />
    <add key="LogFolder" value="C:\temp\Biod.Zebra" />
    <add key="LogFileName" value="Biod.Zebra.Library.log" />

    <!--Log request information-->
    <add key="IsLogRequestInfoEnabled" value="true" />
    
    <!--if IsMessagingUnderTesting is true, send the emails to the EmailTestingRecipientList without sending them to the real clients-->
    <add key="IsMessagingUnderTesting" value="false" />
    <add key="EmailTestingRecipientList" value="" />

    <!--AOI locations limit-->
    <add key="AoiLocationsLimit" value="10" />

    <!--Was Email Sent Time Check In Minutes-->
    <add key="WasEmailSentTimeCheckInMinutes" value="3.0" />

    <!--this link will be added to open the event in the client alert email-->
    <add key="HostUrl" value="http://localhost/Biod.Zebra" />
    <!--timeout in seconds-->
    <add key="commandTimeout" value="1200" />
    <add key="SwaggerApiVersion" value="v1" />
    <add key="SwaggerApiBaseUrl" value="BdDateApi/swagger" />
    <add key="ZebraVersion" value="V11" />
    <add key="ZebraTitleAndVersion" value="Insights by BlueDot Dev" />
    
    <!--Zebra APIs-->
    <add key="ZebraApiBaseUrl" value="http://localhost/Biod.Zebra.Api" />
    <add key="ZebraApiUserName" value="" />
    <add key="ZebraApiPassword" value="" />

    <!--George APIs to get the risk value e.g. /location/risks?latitude=10&longitude=10-->
    <add key="GeorgeApiBaseUrl" value="http://localhost/Biod.George.Api" />
    <add key="GeorgeApiUserName" value="" />
    <add key="GeorgeApiPassword" value="" />
    
    <!--HCW get_next_query functions is to get the next symtoms, diseases and scores-->
    <add key="HcwFunctionBaseUrl" value="" />
    <add key="HcwFunctionCodeToken" value="" />
    
    <!-- Enable or disable Google and Litmus Analytics -->
    <add key="IsGoogleAnalyticsEnabled" value="true" />
    <add key="IsLitmusAnalyticsEnabled" value="true" />
    <add key="IsHeapAnalyticsEnabled" value="true" />
    <add key="IsHotjarAnalyticsEnabled" value="true" />

    <!-- Litmus Tracking ID - Dev -->
    <add key="LitmusTrackingId" value="aiqogb8w" />
    
    <!-- Google Analytics Tracking ID - Dev -->
    <add key="GaTrackingId" value="UA-57199677-9" />
    
    <!-- Heap Tracking ID - Dev -->
    <add key="HeapTrackingId" value="3688113639" />
    
    <!-- Hotjar Tracking ID - Dev -->
    <add key="HotjarTrackingId" value="1290582" />
    
    <!-- JWT for Token-based Authentication -->
    <add key="JwtSecretKey" value="" />
    <add key="JwtTokenExpireMinutes" value="1440" />
    
    <!--appox. 100km-->
    <add key="EventDistanceBuffer" value="100000" />
    <add key="Debug" value="true" />
    <add key="ApiTimeout" value="600000" />
    <!--if BasicAuth = true then the authentication is controlled by IIS-->
    <add key="BasicAuth" value="true" />
    <!--email from settings-->
    <add key="SmtpHostName" value="smtp.sendgrid.net" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpFrom" value="noreply@bluedot.global" />
    <add key="SmtpUserName" value="" />
    <add key="SmtpPassword" value="" />
    <!--R services on AzureML-->
    <!--Replace this with the API key for the web service-->
    <add key="AzureMLSubscriptionId" value="" />
    <add key="ZebraMinMaxCasesApiKey" value="" />
    <add key="ZebraMinMaxCasesWorkspaceId" value="" />
    <add key="ZebraMinMaxCasesServiceId" value="" />
    <add key="ZebraMinMaxPrevalenceApiKey" value="" />
    <add key="ZebraMinMaxPrevalenceWorkspaceId" value="" />
    <add key="ZebraMinMaxPrevalenceServiceId" value="" />
  </appSettings>  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

